
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
}


.card {
    display: flex;
    width: 500px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.card div:first-child {
    flex: 1;
}
.card-img {
    width: 100%;
    object-fit: cover;
}


.old-price {
    text-decoration: line-through;
    color: gray;
}

button {
    background-color: hsl(158, 36%, 37%);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 1em;
    border-radius: 5px;
    width: 100%;
    margin-top: 10px;
}

button:hover {
    background-color:hsl(158, 42%, 18%);
}
  

  
